@use 'theme.scss';

:host {
  display: inline-block;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: var(--chip-background);
  font-size: 14px;
  height: 32px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--chip-color);
  font-size: 16px;
  line-height: 1;
  padding-left: 8px;
}

button:focus {
  outline: none;
}