$high-emphasis-bg: #2C65CE;
$medium-emphasis-bg: #0B44AB;
$low-emphasis-bg: #AFC1D6;
$low-emphasis-shadow: 0 5px 15px 0 rgba(17, 100, 147, 0.1);
$medium-emphasis-shadow: 0 5px 40px 5px rgba(17, 100, 147, 0.12);
$high-emphasis-shadow: 19px 28px 80px 10px rgba(17, 100, 147, 0.14);

button {
  min-height: fit-content;
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all ease-out 150ms;
  border-radius: 8px;
  left: 0.5rem;
  border: none;

  .inner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  &.primary {
    color: white;
    border: 1px solid;
  }
  
  &.primary.high__emphasis {
    background-color: $high-emphasis-bg;
    box-shadow: $high-emphasis-shadow;
  }

  &.primary.medium__emphasis {
    background-color: $medium-emphasis-bg;
    box-shadow: $medium-emphasis-shadow;
  }

  &.primary.low__emphasis {
    background-color: $low-emphasis-bg;
    box-shadow: $low-emphasis-shadow;
    color: #405A73;
  }

  &.secondary {
    color: white;
    background-color: $medium-emphasis-bg;
  }

  &.secondary.high__emphasis {
    background-color: white;
    color: $high-emphasis-bg;
    border: 1px solid $high-emphasis-bg;
    box-shadow: $high-emphasis-shadow;
  }

  &.secondary.medium__emphasis {
    background-color: #E6EEFD;
    color: $medium-emphasis-bg;
    border: 1px solid $medium-emphasis-bg;
    box-shadow: $medium-emphasis-shadow;
  }

  &.secondary.low__emphasis {
    background-color: #EBEFF8;
    color: #ABB5C1;
    border: 1px solid #ABB5C1;
    box-shadow: $low-emphasis-shadow;
  }
}


