:host {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .banner {
        color: #221648;
        padding: 0 16px;
        height: 40px;
        background-color: #EFECFF;
        display: flex;
        align-items: center;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 14px;
        box-shadow: 19px 28px 80px 10px rgba(17, 100, 147, 0.14);
        
    
        .banner__content {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;
            justify-content: space-between;
        
            .d-flex {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            a {
                color: #405A73;
                text-decoration: none;
            }
        }
    }
}